.footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.tile p {
  align-content: first baseline;
  display: flex;
}

.footer img {
  height: 35px;
  width: auto;
}

.tile div {
  display: flex;
  justify-content: first baseline;
}

a {
  text-decoration: none;
  color: inherit;
}
