.projects {
  padding: 1%;
}

.halfView {
  width: 50%;
  padding: 1%;
  align-items: center; /* Center vertically */
}

.project1 {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  margin-bottom: 10%;
}

.even img {
  display: block; 
  margin-left: auto; 
  margin-right: 3%; 
}


img {
  max-height: 300px;
  width: auto;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .project1 {
    display: block;
  }
  .halfView {
    width: 100%;
  }
}
